@mixin font-face($family, $path, $weight, $style) {
    @font-face {
        font-family: $family;
        src: url($path) format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin user-select($prop) {
    -webkit-user-select: $prop;
    -moz-user-select: $prop;
    -ms-user-select: $prop;
    user-select: $prop;
}