@mixin font-face($family, $path, $weight, $style) {
    @font-face {
        font-family: $family;
        src: url($path) format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}